




<div class="card mb-12" style="max-width: 100%">
    <div class="row no-gutters">
      <div class="col-md-5">
        <img src="{{heroe.img}}" class="card-img" alt="...">
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}}</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion | uppercase}}</small></p>
          <img class="imagen" *ngIf="heroe.casa=='DC'" src="../../../assets/dc.jpg" alt="DC">
          <img class="imagen" *ngIf="heroe.casa=='Marvel'" src="../../../assets/marvel.jpg" alt="MARVEL">
        </div>
      </div>
    </div>
</div>

<a  [routerLink]="['/heroes']" class="btn btn-light position-relative"  role="button"> <-- Volver </a>

